* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background: url(../images/duck-stage.png) no-repeat center center fixed; 
  background-size: cover;
   
}

  #playground {
            width: 800px;
            height: 800px;
            margin: 50px auto;
            border: 1px dashed black;
            border-radius: 10px;
            /*Because duck is using position absolute*/
            position: relative;
  }


#duck {
    height: 150px;
    width: 150px;
    background-image: url(../images/duck1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;

  }


 
