* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #555;
    margin-top: 10%;
    margin-left: 10%;
  }

  body{
      background-image: url(../images/background.png);
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;
  }
